/* body {
  background-color: #2395ff;
} */

.border {
  margin-right: 20rem;
  background-color: #ffffff;
}

.fly {
  margin-top: 4rem;
  margin-right: 3rem;
}

.flight {
  font-weight: bold;
}

.add {
  margin-left: 0rem;
  /* margin-right: 6rem; */
}
